################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoLinkCrawler
/EPL/EPL/App_Data
/TvAndMovie
/TvAndMovie
