@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Page Only for demo purpose.</p>

<body>
<div class="screen" style="height: 444px;">
    <div class="living-area" id="livingArea" style="">
        <div id="mod_tenvideo_flash_player_1458701382373" class="tenvideo_player">
            <div id="a1"></div>
            <iframe src="http://pub.pptv.com/player/iframe/index.html?rcc_id=500W#w=100%&amp;h=100%&amp;id=301190" width="1280" height="600" scrolling="no" frameborder="0"></iframe>
        </div>
    </div>
</div>
</body>