@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body>

    <iframe src="http://nba.tmiaoo.com/cctv5/" width="800" height="750" scrolling="no" frameborder="0"></iframe>

@*<iframe width="560" height="315" src="http://nba.tmiaoo.com/n/100209800/p.html" frameborder="0" allowfullscreen></iframe>*@
</body>