@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body>
<div style="margin-top: -100px" >
    <iframe src="http://tv-live.in/wp-content/uploads/tv-online/Channel/China/kenh/CCtv-5.html" width="800" height="750" scrolling="no" frameborder="0"></iframe>
</div>
@*<iframe width="560" height="315" src="http://nba.tmiaoo.com/n/100209800/p.html" frameborder="0" allowfullscreen></iframe>*@
</body>