@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body>
<div>
    <h4>如果你喜欢这个网站，可以通过支付宝支持，金额多少无所谓，谢谢</h4>
    <img src="..\..\Image\pay.png" width="400" height="500"><img>
        </div>
</body>