@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<meta name="referrer" content="no-referrer"/>
<head>
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
    
    <script>

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>

    <style> 
        .overlay { 
            position:fixed;
            top: 50%;
            left: 50%;
            width:250px;
            height:250px;
            margin-top: -125px; /*set to a negative number 1/2 of your height*/
            margin-left: -125px; /*set to a negative number 1/2 of your width*/
            background-color: rgba(0,0,0,0.5);
            cursor: pointer;
            z-index: 99
        }

        .overlay .closebtn {
            position: absolute;
            top: 15px;
            right: 30px;
            font-size: 20px;
        }
    </style>

</head>
<body>
  
<div id="overlay" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="off()">&times;</a>
    <script type="text/javascript">
        var ad_idzone = "2739746",
            ad_width = "250",
            ad_height = "250";
    </script>
    <script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
    <noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2739746" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2739746&output=img&type=250x250" width="250" height="250"></a></noscript>
</div>
  
<script type="text/javascript">
    document.getElementById("overlay").style.display = "block";
</script>
<iframe src=@ViewBag.Message style="border: 0; position: absolute; top: 50px; left: 0; right: 0; bottom: 0; width: 100%; height: 100%" target="_self" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no">

    </iframe>

<script type="text/javascript">
    var exoOpts = {
        cat: '506',
        login: 'bodboy52',
        idzone_300x250: '2737334',
        idsite: '678304',
        preroll: {},
        pause: {},
        postroll: {},
        show_thumb: '1'
    };
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/invideo.js"></script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2730660" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2730660&output=img&type=728x90" width="728" height="90"></a></noscript>
<script type="text/javascript">
    var ad_idzone = "2730662",
        ad_width = "468",
        ad_height = "60";
</script>
<div style="display: none">
<script type="text/javascript">
    var ad_idzone = "2730664",
        ad_width = "728",
        ad_height = "90";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2730664" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2730664&output=img&type=728x90" width="728" height="90"></a></noscript>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="https://main.exdynsrv.com/img-click.php?idzone=2730662" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2730662&output=img&type=468x60" width="468" height="60"></a></noscript>
</div>
</body>