<head>
    @Styles.Render("~/Content/screen.css")
    @Styles.Render("~/Content/badge-abbreviations.css")
</head>

<main id="mainContent" tabindex="0">


<div class="wrapper col-12">
	
    <section class="standardArticle">

        <div class="socialShareSticky">
            <div class="socialShareHover articleShare">
                <div data-script="pl_social-share" data-widget="social-page-share" data-render="pagehover" data-body="About the Premier League"><div class="socialShareHover"><div class="socialShareBtn" role="button" tabindex="0" aria-haspopup="true"><div class="icn share"></div>Share</div><ul class="socialOptions" role="listbox"><li><div class="option whatsapp" role="option" tabindex="0" data-social-service="whatsapp"><span alt="" class="icn whatsapp-w"></span><span class="visuallyHidden">action.share.whatsApp</span></div></li><li><div class="option twitter" role="option" tabindex="0" data-social-service="twitter"><span alt="" class="icn twitter-w"></span><span class="visuallyHidden">Share on Twitter</span></div></li><li><div class="option facebook" role="option" tabindex="0" data-social-service="facebook"><span alt="" class="icn facebook-w"></span><span class="visuallyHidden">Share on Facebook</span></div></li><li><div class="option google" role="option" tabindex="0" data-social-service="google"><span alt="" class="icn google-w"></span><span class="visuallyHidden">Google +</span></div></li></ul></div></div>
            </div>
        </div>

        <div data-script="pl_editorial-lists" data-widget="video-list" class="articleImage">
            <img src="https://platform-static-files.s3.amazonaws.com/premierleague/photo/2016/06/13/8aa1b150-60c6-449f-beda-954c50e8bcb1/4794357.jpg" alt="Leicester manager Claudio Ranieri and captain Wes Morgan lift the PL trophy">
        </div>

        <h3 class="subHeader"> Please Come back to later before the match start</h3>


        <p class="copy">
        </p><p><strong>The link will be updated 10-30 mins before the match start</strong></p>
        <p><strong>直播链接会在比赛开始前10-30分钟更新</strong></p>
    
    </section>


</div>
</main>